# Boruta

In [1]:
import pandas as pd

In [4]:
# Create a toy dataset:
#   3 features (age, height, and weight)
#   target variable (income)
#   5 observations
X = pd.DataFrame({'age': [25, 32, 47, 51, 62],
                  'height': [182, 176, 174, 168, 181],
                  'weight': [75, 71, 78, 72, 86]})
y = pd.Series([20, 32, 45, 55, 61], name="income")

X

   age  height  weight
0   25     182      75
1   32     176      71
2   47     174      78
3   51     168      72
4   62     181      86

In [5]:
y

0    20
1    32
2    45
3    55
4    61
Name: income, dtype: int64